$grey: #b1b7ba;

html,body {
  background-color: $grey;
}

.decoration {
  background-color: #e2e8ee;
  padding: 1em;
}

#donate-form {
  select {
    width: auto;
    max-width: 100%;
  }
}

.project-page {
  .team {
  }
}

