$grey: #b1b7ba;
$green: #809c99;
$purple: #8f8ca7;

@import "compass/css3/border-radius";

html,body {
  font-family: "Helvetica Nue",Helvetica,sans-serif;
  background-color: white;
  color: black;
}

.decoration {
  .header {
    h1 {
      height: 35px;
      padding: 10px;
      background: $grey url(/img/header.png) right 10px no-repeat;
      background-size: 240px;
    }
  }
}

.container {
  padding: 1em;
}

#donate-form {
  select {
    width: auto;
    max-width: 100%;
  }
}

.project-page {
  .team {
  }
  h2 {
    color: #637994;
  }
}

.container {
  background-color: white;
}

@mixin call-out {
  @include border-radius(4px);
  background-color: $purple;
  color: white;
  font-size: 150%;
}

.support {
  @include call-out;

  margin-bottom: 2em;

  > * {
    padding: 0.5em;
  }

  strong {
    font-size: 150%;
    line-height: 150%;
    color: lighten($purple, 30%);
  }
}

.donate {
  @include call-out;
  background-color: $green;
  > * {
    padding: 0.5em;
  }
}
