$grey: #b1b7ba;
$green: #809c99;
$purple: #8f8ca7;

@import "compass/css3/border-radius";

@mixin call-out {
  @include border-radius(4px);
  background-color: $purple;
  color: white;
  font-size: 150%;
}

html,body {
  font-family: "Helvetica Nue",Helvetica,sans-serif;
  background-color: $grey;
  color: black;
}

img {
  border: 8px solid white;
  @include border-radius(8px);
}

.decoration {
  .header {
    h1 {
      height: 35px;
      padding: 10px;
      background: $grey url(/img/header.png) right 10px no-repeat;
      background-size: 240px;
    }
  }
}

.container {
  padding: 1em;
}

.container {
}

h1,h2,h3,h4,h5,h6 {
  font-family: Abel;
  color: #637994;
}

.project-page {
  .video {
    margin-bottom: 1em;
  }

  .support {
    @include call-out;

    margin-bottom: 2em;

    > * {
      padding: 0.5em;
    }

    strong {
      font-size: 150%;
      line-height: 150%;
      color: lighten($purple, 30%);
    }
  }

  .donate {
    @include call-out;
    background-color: $green;
    > * {
      padding: 0.5em;
    }
  }

  #donate-form {
    select {
      width: auto;
      max-width: 100%;
    }
  }
}
